<!DOCTYPE html>
<html>
<head>
    <!-- Include Lock initialization script -->
    <script src="https://cdn.auth0.com/js/lock/12.0.0/lock.min.js"></script>
</head>
<body>
    <div id="auth0-login-container"></div>
    <button id="login-button">Log In</button>
    
    <div>
        <input type="text" id="api-endpoint-input" placeholder="API Endpoint">
        <input type="text" id="http-method-input" placeholder="HTTP Method">
        <button id="api-request-button">Make API Request</button>
    </div>

    <script>
        // Initialize Auth0Lock
        var lock = new Auth0Lock('w9WcZmVLx8vnA6CnW9ptQ6laPi95m51U', 'fsdn123.au.auth0.com', {
            container: 'auth0-login-container',
            auth: {
                redirectUrl: 'https://render-capstone-example-5cq7.onrender.com/callback',
                responseType: 'token',
                audience: 'cap2',
                scope: '',
            }
        });

        // Add a click event listener to trigger Auth0Lock
        document.getElementById('login-button').addEventListener('click', function() {
            lock.show();
        });

        // Listen for the authenticated event when the user logs in
        lock.on('authenticated', function(authResult) {
            var accessToken = authResult.accessToken;

            // Add a click event listener to the API request button
            document.getElementById('api-request-button').addEventListener('click', function() {
                var apiEndpoint = document.getElementById('api-endpoint-input').value;
                var httpMethod = document.getElementById('http-method-input').value.toUpperCase();

                fetch(apiEndpoint, {
                    method: httpMethod,
                    headers: {
                        'Authorization': 'Bearer ' + accessToken,
                        'Content-Type': 'application/json'
                        // Add other headers as needed
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Handle the API response
                        return response.json();
                    } else {
                        // Handle API request error
                        console.error('API Request Error:', response.status);
                    }
                })
                .then(data => {
                    // Process the API response data
                    console.log('API Response:', data);
                });
            });
        });
    </script>
</body>
</html>
