<!DOCTYPE html>
<html>
<head>
    <!-- Include Lock initialization script -->
    <script src="https://cdn.auth0.com/js/lock/12.0.0/lock.min.js"></script>
</head>
<body>
    <div id="auth0-login-container"></div>
    <script>
        // Initialize Auth0 Lock
        // var clientId = 'w9WcZmVLx8vnA6CnW9ptQ6laPi95m51U';
        // var domain = 'cap3';
        // var callbackUri = 'https://render-capstone-example-5cq7.onrender.com/callback';
        // var audience = 'fsdn123.au.auth0.com';
        // var authUrl = `https://${domain}/authorize?audience=${audience}&response_type=token&client_id=${clientId}&redirect_uri=${encodeURIComponent(callbackUri)}`;

        var lock = new Auth0Lock('w9WcZmVLx8vnA6CnW9ptQ6laPi95m51U', 'fsdn123.au.auth0.com', {
            container: 'auth0-login-container',
            theme: {
                logo: '/path/to/your/logo.png', // Customize the logo
                primaryColor: '#337ab7', // Customize the primary color
            },
            languageDictionary: {
                title: 'Log In', // Customize the title
            },
            // Add more customization options as needed
            auth: {
                redirectUrl: 'https://render-capstone-example-5cq7.onrender.com/callback', // Specify your callback URL here
                responseType: ['token', 'id_token'],
                audience: 'cap3',
            }
        });
        // Show the login form
        lock.on('authenticated', function(authResult) {
            authResult.accessToken = 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Im1BWW5fdF80X0NXOXkzM09sWFlpOSJ9.eyJpc3MiOiJodHRwczovL2ZzZG4xMjMuYXUuYXV0aDAuY29tLyIsInN1YiI6ImF1dGgwfDY1MjQzY2ZhZTUwMTY0NDM1NGMyN2UyMyIsImF1ZCI6ImNhcDIiLCJpYXQiOjE2OTY5NTc4OTUsImV4cCI6MTY5NzA0NDI5NCwiYXpwIjoidzlXY1ptVkx4OHZuQTZDblc5cHRRNmxhUGk5NW01MVUiLCJzY29wZSI6IiIsInBlcm1pc3Npb25zIjpbImRlbGV0ZTphY3RvciIsImdldDphY3RvcnMiLCJnZXQ6aG9tZSIsImdldDptb3ZpZXMiLCJwYXRjaDphY3RvciIsInBvc3Q6YWN0b3IiXX0.UDgeKuFudkbjO1xTIotMoleNhwEUWu7txvK5n1vbpBzwyfhE1YMPjZHio1I9i2AZNpxtgYY6dUZjQcL99B16GmcHKy2NeLAontpU_c9wrb4OpcvK075WjyB-7LxoK1V95zcrMy6FD_gU4Ibx1goieP48vnTlWhKaMJI97_cGkBnthvw14zunmFEolYT3r4FsUSZOJYm2_SmPQNGDcsjBn21DqEDEzkEDfkBDr6Hq2nf5lsGnjswYtFpy9uhaialO_ac2sQ70LHyJrZ5iUc7f21j4fUO1pDTykAy3uY1f67Wls6vWA1AHb_AOC3dgpRBya7I8tYANZ65tkyBc2OZJVA';
        });
        lock.show();
    </script>
</body>
</html>