{% extends 'layouts/main.html' %}
{% block title %}Edit actor{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/actors/{{actor.id}}/edit">
      <h3 class="form-heading">Edit actor <em>{{ actor.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>Genger</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.gender(class_ = 'form-control', placeholder='gender', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="age">Age</label>
          {{ form.age(class_ = 'form-control', placeholder='numeric value only', autofocus = true) }}
        </div>
      
      <input type="submit" value="Edit actor" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
